
<div class="row g-2">
    <div class="col-10">
        <div style="border-radius: 6px; border: 1px solid rgb(228, 228, 228); height: 250px;">
            <h3 class="mt-5">{{nombre}}</h3>
            <button class="btn btn-primary" (click)="cambiarNombre()">Cambiar Nombre</button>
        </div>
    </div>

    <div class="col-2">
        <div style="border-radius: 6px; border: 1px solid rgb(228, 228, 228); height: 250px;">
            <app-lateral [nombreHijo]="nombre" (cambioDeNombreHijo)="nombre = $event"></app-lateral>
        </div>
    </div>
</div>
