<div class="bg-secondary text-white mt-5">
    <div class="container">
        <div class="row p-5">
            <div class="col-3">
                <p class="h3">Elvis Zevallos</p>
            </div>
            <div class="col-3">
                <p class="h5">Tema 01</p>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
            </div>
            <div class="col-3">
                <p class="h5">Tema 02</p>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
            </div>
            <div class="col-3">
                <p class="h5">Tema 03</p>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
                <div class="mb-2">
                    <a href="" class="text-decoration-none text-white">Link 01</a>
                </div>
            </div>
        </div>
    </div>
</div>